---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header
      style="display: flex; align-items: center; justify-content: space-between; padding: 1rem; background: linear-gradient(90deg, #4f46e5 0%, #06b6d4 100%); color: white;"
    >
      <a
        href="/"
        style="background: white; color: #4f46e5; padding: 0.5rem 1rem; border-radius: 8px; text-decoration: none; font-weight: bold; box-shadow: 0 2px 8px rgba(0,0,0,0.1); transition: background 0.2s;"
      >
        Accueil
      </a>
      <nav>
        <div style="display: flex; gap: 1rem;">
          <form
            method="GET"
            onChange="if(this.Penguins.value) window.location=this.Penguins.value;"
          >
            <select name="Penguins" class="select">
              <option value="" style="color: #000000;"> Rendu Penguins </option>
              <option
                value="/penguin/rendu-dynamique"
                style="color: #058da5; background: #f0fdfa;"
              >
                Rendu dynamique
              </option>
              <option
                value="/penguin/rendu-statique"
                style="color: #2c23d5; background: #f0fdfa;"
              >
                Rendu statique
              </option>
            </select>
          </form>
          <form
            method="GET"
            onChange="if(this.Voiture.value) window.location=this.Voiture.value;"
          >
            <select name="Voiture" class="select">
              <option value="" style="color: #000000;"> Rendu Voiture </option>
              <option
                value="/voiture/rendu-dynamique"
                style="color: #058da5; background: #f0fdfa;"
              >
                Rendu dynamique
              </option>
              <option
                value="/voiture/rendu-statique"
                style="color: #2c23d5; background: #f0fdfa;"
              >
                Rendu statique
              </option>
            </select>
          </form>
        </div>
      </nav>
    </header>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
